.meme {
    width: 20em;
    /* height: 20em; */
    padding: 1em;
    /* display: flex; */
    /* border: 1px solid black */
}

.meme-title {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: .5em;
}

.meme-img {
    width: 20em;
    height: 20em;
    padding-bottom: .25em;
}

.meme-img > img {
    width: 20em;
    height: 20em;
}

.price-stock {
    display: flex;
    width: inherit;
    justify-content: space-between;
    font-size: 1.25em;
    font-weight: bold;
    padding-bottom: .25em;
}

/* .meme-quantity {
    display: flex;
} */

.add-to-cart {
    display: flex;
    justify-content: space-between;
    padding-bottom: .25em;
}

.num-avail {
    margin: 0 .5em;
    font-weight: bold;
}

.meme-show-button {
    padding-bottom: .25em;
}

.review {
    padding: .5em 0;
}

.meme label {
    font-weight: bold;
}

.meme button {
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid black;
    font-size: 1em;
    font-weight: bold;
}

.meme button.pos {
    background-color: greenyellow;
    border-radius: 50%;
}

.meme button.neg {
    background-color: red;
    border-radius: 50%;
}